aiohttp>=3.8.5
beautifulsoup4>=4.12.3
bertopic>=0.16.4
huggingface_hub==0.16.4
matplotlib>=3.7.2
nltk>=3.8.1
numpy>=2.0.2
pandas>=2.2.3
plotly>=5.18.0
pypdf>=3.15.1
python-docx>=0.8.11
pytest>=7.0.0
pytest-asyncio
sentence-transformers>=2.2.0
shiny>=0.6.0
shinyswatch>=0.5.0
starlette>=0.36.0
umap-learn>=0.5.3
wordcloud>=1.9.3